<%= render 'flash' %>

<h1>Access#menu</h1>
<p>you are loggged in as </p>
<%= @username %>
<%= @user_id %>

<%= link_to "loggout", logout_path, method: :delete %>

<div> 
<ul> 
<li> 
<%= link_to "Manage Subjects", subjects_path %>
</li>
<li> 
<%= link_to "Manage Page", pages_path %>
</li>
</ul> 
</div>