<h1>
    Qasim Home
</h1>

<nav>
<%= link_to "About US", {:action=>'about'} %>

</nav>
<p>ERB</p>

<%  red1 = "This is a var page"%>

<% @myArray.each_index do |n| %>
<%= n+1 %>
<br>
<%="#{red1}!"%>
<br> 
<%= "#{@myArray}" %>
<br> 
<% end %>`

<%= link_to "Index Page", {:action => 'index', :param1=>'red', :param2 => "red"}%>

<%= link_to "edit sub 1", edit_subject_path(1) %>

<%= link_to "Login", login_path %>

<%= link_to "Just sub", subject_path(1) %>
